
.ads_popup{
    
}

/* setting comon attribute mobile and table */
@media (max-width: 739px) {
    
  .ads_popup{
    max-width: 500px !important;
      
  }
}

@media (max-width: 500px) {
  .ads_popup{
    max-width: 400px !important;
      
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .ads_popup{
    max-width: 450px !important;
      
  }


}



@media (min-width: 601px) and (max-width: 739px) {
    

}

@media (min-width: 740px) and (max-width: 900px) {
  
    
}

@media (min-width: 901px) and (max-width: 1023px) {
   
    
}

@media (min-width: 1024px) and (max-width: 1200px){

}