

.download_file{
    padding: 8px 15px;
    background-color: #3379b7;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.download_icon_box{

}

.download_icon_i{
    
}


.share_icon_box {
    height: 32px;
    min-height: 40px;
    background-color: #f0ae4d;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.share_icon_i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}

/* setting comon attribute mobile and table */
@media (max-width: 739px) {
    .ebook_intro{
        display: block !important;
    }
    .ebook_image{
        box-sizing: border-box !important;
        width: 100% !important;
        padding: 10px !important;
        margin: auto !important;
    }
    
    .ebook_info{
        box-sizing: border-box !important;
        width: 100% !important;
        padding: 10px !important;
        margin: auto !important;

    }
    .ebook_image_thumbnail{
    }

    .ebook_content{
        padding:20px 10px !important;

    }
}

@media (max-width: 499px) {
  
}

@media (min-width: 500px) and (max-width: 739px) {
    
 
    

}

@media (min-width: 740px) and (max-width: 1023px) {
 
    
}

@media (min-width: 1024px) and (max-width: 1239px){
  
}